CTRLINFONET   TEARLINE, ORIGIN
CTRLINFOECHO  TEARLINE, ORIGIN
CTRLINFOLOCAL TEARLINE, ORIGIN

TEARLINE None

ORIGIN "None"

INVALIDATE Seenby   "SEEN-BY"       "SEEN+BY"
INVALIDATE Tearline "--- "          "-+- "
INVALIDATE Origin   " * Origin: "   " + Origin: "

NODEPATH \home\fido\nodelist

NODELIST NET5020.NDL          ; NodeList  @FidoNet ZONE 2
NODELIST PNT5020.NDL           ; PointList @FidoNet 5020
AREASCAN *

;AREAPATH \home\fido\msgbasedir

TEMPLATE GOLDED.TPL     "Default template"

EDITREPLYRE YES     ; Add "Re:" if there isn't one.

LOADLANGUAGE      GEDLNGUS.CFG

AREALISTGROUPID YES
AREALISTSORT YUG

ROBOTNAME AreaFix
ROBOTNAME AllFix
ROBOTNAME FileFix
ROBOTNAME "DM Tic"
ROBOTNAME SqaFix

EDITCOMPLETION "Ќ" "H" ;¤«п § ¬Ґ­л ў а®¤­®¬ аҐ¤ Єв®аҐ (ЇҐаў п H агббЄ п)
EDITSOFTCRXLAT H       ;¤«п § ¬Ґ­л ЇаЁ Ё¬Ї®авЁа®ў ­ЁЁ
DISPSOFTCR Yes

IMPORTBEGIN >ДДДННН Љгвм ®­ "@file" НННДДД 
IMPORTEND >ДДДННН Љгвм ®дд "@file" НННДДД 



LogFile		\home\fido\golded.log
UuDecodePath    \home\fido\uudecode
OutPutFile      \home\fido\outfile
TemplatePath	\usr\golded+
include         \usr\golded+\gedcolor.cfg
; Не приветcтвовать роботов
RobotName AreaFix
RobotName AllFix
RobotName T-fix
RobotName FAQServer
; Добавление всех адресатов, которым пишите во всех областях в алресную
; книгу /usr/local/etc/golded+/golduser.lst
AddressBookAdd  Always
; Для занесения в  адресную книгу автора сообщения вручную нажмите Ctrl-B
^B      READAddressBookAdd
; Просмотр адресной книги - Alt-F10.
@F10    READUserBase
NodelistWarn    No
ORIGIN "Deus ex machina"
;TAGLINE @random.txt
TwitName Bad User
TwitName Urgy Spammer
TwitMode Skip
TwitTo Yes
Invalidate Tearline     "" ""
Invalidate Origin       "" ""
ViewQuote       Yes
AttribsNet      Loc Pvt
DispMsgSize     Kbytes
DispAttachSize  Kbytes
SEMAPHORE EXPORTLIST \home\fido\hpt.log
SEMAPHORE IMPORTLIST \home\fido\import.log
----------------------------------------------------------------------
-- RANDOM SYSTEM GROUPS

AREAFILEGROUPS YES

TAGLINESUPPORT Yes
;TAGLINE @random.txt   

VIEWHIDDEN YES
VIEWKLUDGE NO

COLOR READER KLUDHIDD   Green     on Black
COLOR READER QUOTE2           lgreen    ON BLACK


EDITMENU NO

STYLECODES YES
COLOR STYLECODE I       LRed     on Black    ; /Italic/
COLOR STYLECODE U       Green    on Yellow   ; _Underline_
COLOR STYLECODE B       White    on Black    ; *Bold*
COLOR STYLECODE BI      White    on Black    ; /*BoldItalic*/
COLOR STYLECODE BU      White    on Black    ; _*BoldUnderline*_
COLOR STYLECODE IU      LRed     on Black    ; /_ItalicUnderline_/
COLOR STYLECODE BIU     White    on Black    ; _/*BoldItalicUnderline*/_
COLOR STYLECODE R       Black    on Yellow   ; #Reverse#
COLOR STYLECODE RB      Black    on White    ; *#ReverseBold#*
COLOR STYLECODE RI      Black    on LRed     ; /#ReverseItalic#/
COLOR STYLECODE RBI     Black    on White    ; /*#ReverseBoldItalic#*/
COLOR STYLECODE RU      Yellow   on Green    ; _#ReverseUnderline_#
COLOR STYLECODE RBU     Black    on White    ; _*#ReverseBoldUnderline#*_
COLOR STYLECODE RIU     Black    on LRed     ; _/#ReverseItalicUnderline#/_
COLOR STYLECODE RBIU    Black    on White    ; _/*#ReverseItalicUnderline#*/_

SQUISHSCAN API
INCLUDE GOLDCMNT.CFG

AddressBookAdd Always
;DispAutoNext No
ConfirmFile golded.cfm
ConfirmResponse  Ask  ; ‘Їа®бЁвм Ї®«м§®ў вҐ«п.

EditInternal Yes
EDITHARDLINES NO
;EditMenu Yes

COLOR MENU   UNREAD     YELLOW  ON BLACK
HighlightUnread Yes
